@{
    // Razor View Engine  -- Yazılım Motoru -- cshtml sayıfasındaki c# kodlarının tarayıcının  anlayacağı html 
    // dosyalarına çevirir
    ViewData["Title"] = "Home Page";
}

<h1>Indext Sayıfasındasınız</h1>
